.content {
    gap: var(--gaps);
    width: 100%;
}

.meme-editor {
    background: red;
    
}

.canvas-container {
    flex: 1;
    min-height: 600px;
    margin: 20px;
}

canvas {
    border-radius: 13px;
    height: 100%;
    width: 100%;
    background-color: var(--light1);
}