.meme-editor {
    padding: 10px 20px;
    background: linear-gradient(#3338, #3335);
    overflow: hidden;
}

.canvas-container {
    width: 100%;
    padding: 20px;
    max-width: 800px;
}

canvas {
    border-radius: 13px;
    width: 100%;
    background-color: var(--light1);
    cursor: grab;
}

.line-controls>* {
    padding: 10px 20px;
}

.line-controls {
    display: grid;
    grid-template-areas:
        'tl tml tmr . '
        'bl bml bmr br';
}


.line-controls>*:nth-child(1) {
    grid-area: tl;
}

.line-controls>*:nth-child(2) {
    grid-area: tml;
}

.line-controls>*:nth-child(3) {
    grid-area: tmr;
    border-radius: 0 var(--border-radius) 0 0;
}

.line-controls>*:nth-child(4) {
    grid-area: bl;
}

.line-controls>*:nth-child(5) {
    grid-area: bml;
}

.line-controls>*:nth-child(6) {
    grid-area: bmr;
}

.line-controls>*:nth-child(7) {
    grid-area: br;
}

.line-controls>*:first-child {
    border-top-left-radius: var(--border-radius);
}

.line-controls>*:last-child {
    border-top-right-radius: var(--border-radius);
}

.line-controls>* {
    width: 60px;
    height: 40px;
    background: var(--light1);
    color: #000;
    transition: all .5s;
}

.line-controls>*>*:not(img),
.del-meme>* {
    transform: scale(1.5);
}

.line-controls>*>img {
    color: aliceblue;
    filter: invert(0);
}

.line-controls>*:hover {
    filter: invert(1);
}

.line-controls .font-family {
    width: auto;
    border: none;
}

.del-meme {
    background: tomato;
    align-self: end;
    height: 30px;
    margin-bottom: 10px;
}

.meme-txt {
    width: 100%;
    font-size: 3em;
    padding-inline-start: 10px;
    outline: none;
    border: none;
    border-bottom-left-radius: var(--border-radius);
}

.text-dec>* {
    height: 100%;
    max-width: 60px;
    font-size: 1.5em;
    padding-inline-start: 5px;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border: none;
    box-shadow: inset 0 0 1px var(--dark1);
    overflow: hidden;
    position: relative;
    background-color: var(--light3);
    cursor: pointer;
}

.text-colors {
    position: relative;
    margin-top: 40px;
}

.text-colors::before {
    content: 'set the gradient';
    position: absolute;
    font-family: lucky;
    background: var(--light3);
    -webkit-text-stroke: 1px  var(--dark3);
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.5em;
    top: -20px;
    left: 5px;
}

.text-colors>* {
    margin-block-start: 20px;
    flex-basis: calc(100%/3);
    font-size: 1.25em;
    cursor: pointer;
    overflow: hidden;
}

.text-colors .color-picker span {
    background: var(--light3);
}

.text-colors .color-picker:nth-child(2) span {
    border-radius: var(--border-radius) 0 0 0;
}

.text-colors .color-picker:nth-child(4) span {
    border-radius: 0 var(--border-radius) 0 0;
}

.color-picker:hover{
   filter: invert(0.1);
}

.color-picker>input {
    visibility: hidden;
}

.color-picker span {
    font-size: 1.4em;
    width: 100%;
    text-align: center;
}

.color-picker {
    z-index: 5;
    padding-block-end: 1.5em;
    overflow: hidden;
    position: relative;
}

.color-range {
    position: absolute;
    background: linear-gradient(to left, #eee, #999, #eee);
    width: 100%;
    height: 3em;
    bottom: 0;
    border-radius: 0 0 .45em .45em;
    box-shadow:
        -5px -5px 6px #3335;
}

.emojis {
    overflow-x: scroll;
    max-width: 800px;
    margin-block: 20px;
    padding: 3px;
    box-shadow: inset 0 0 3px var(--dark3);
    border-radius: 10px;
    background-color: var(--light1);
}

.emojis::-webkit-scrollbar {
    width: 20px;
}

.emojis::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 1px var(--dark3);
    background-color: var(--light3);
    border-radius: 10px;
}

.emojis::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 15px var(--dark3);
}

.emojis>* {
    height: 80px;
    width: 80px;
    font-size: 3em;
    padding-inline: 8px;
    user-select: none;
    cursor: pointer;
}

.emojis>*:not(:first-child) {
    border-left: 1px solid var(--dark1);
}

.emojis>*:hover {
    background: radial-gradient(var(--light3),var(--light1));
}

.socials {
    margin-top: 20px;
}

.socials>* {
    padding: .2em .8em;
    font-size: 2em;
    border-radius: 2em;

}

.socials>*:first-child {
    margin-block-end: 15px;
}

.socials>*:hover {
    background-color: var(--pr-clr);
}

.save-img {
    display: flex;
    justify-content: center;
    color: #eee;
    text-decoration: none;
}

