.meme-editor {
    padding: 10px 20px;
    background: linear-gradient(#3338, #3335);
    overflow: hidden;
}

.canvas-container {
    width: 100%;
    padding: 20px;
    max-width: 800px;
}

canvas {
    border-radius: 13px;
    height: 100%;
    width: 100%;
    background-color: var(--light1);
    cursor: grab;
}

.line-controls>* {
    padding: 10px 20px;
}

.line-controls>*:first-child {
    border-top-left-radius: var(--border-radius);
}

.line-controls>*:last-child {
    border-top-right-radius: var(--border-radius);
}

.line-controls>* {
    width: 60px;
    height: 40px;
    background: var(--light1);
    color: #000;
    transition: all .5s;
}

.line-controls>*>*:not(img),
.del-meme>* {
    transform: scale(1.5);
}

.line-controls>*>img {
    color: aliceblue;
    filter: invert(0);
}

.line-controls>*:hover {
    filter: invert(1);
}

.del-meme {
    background: tomato;
    align-self: end;
    height: 30px;
    margin-bottom: 10px;
}

.meme-txt {
    width: 100%;
    font-size: 3em;
    padding-inline-start: 10px;
    outline: none;
    border: none;
    border-bottom-left-radius: var(--border-radius);
}

.text-dec>* {
    width: 50px;
    height: 50px;
    font-size: 1em;
    border: none;
    box-shadow: inset 0 0 1px var(--dark1);
    overflow: hidden;
    position: relative;
    background-color: var(--light3);
    cursor: pointer;
}

.text-dec>*>img {
    padding: 3px;
}


.text-dec>*:first-child {
    border-top-right-radius: var(--border-radius);
}

.text-dec>*:last-child {
    border-bottom-right-radius: var(--border-radius);
    padding-inline-start: 5px;
}
/* 
.text-colors>*>input{
    visibility: hidden;
} */

.text-colors>*{
    height: 80px;
    width: 80px;
}

.socials {
    margin-top: 10px;
}

.emojis {
    overflow-x: scroll;
    max-width: 800px;
    margin-block-start: 20px;
    padding: 3px;
    box-shadow: inset 0 0 3px var(--dark3);
    border-radius: 10px;
}

.emojis::-webkit-scrollbar {
    width: 20px;
}

.emojis::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 1px var(--dark3);
    background-color: var(--light3);
    border-radius: 10px;
}

.emojis::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 15px var(--dark3);
}

.emojis>* {
    height: 80px;
    width: 80px;
    font-size: 3em;
    padding-inline: 8px;
    user-select: none;
    cursor: pointer;
}

.emojis>*:not(:first-child) {
    border-left: 1px solid var(--dark1);
}