.modal{
position: fixed;
top: 0;
left: 50%;
transform: translateX(-50%);
background: #3335;
height: 0px;
overflow: hidden;
transition: height .5s;
width: 100vw;
}

.main-modal{
    background: linear-gradient(to top,linen,#eee5);
    font-size: 1.2em;
    padding: 20px;
    color: var(--dark3);
    font-family: poppins-bold;
    border-radius: var(--border-radius);
    box-shadow: 5px 5px var(--dark1),
    inset 5px 5px 15px var(--light3);
    position: relative;
}
.modal.open{
    height: 100vh;
}

.main-modal a{
    margin-inline-start: 5px;
}

.close-modal{
    align-self: end;
    border-radius: 5px 50%;
    margin-block-start: 5px;
    margin-inline-end: 5px;
    font-size: .8em;
    padding: 3px 6px;
    position: absolute;
    top: 5%;
    right: 5%;
}
.share-link{
    align-self: center;
}
