*{
    box-sizing: border-box;
}

html{
    font-family: poppins , sans-serif;
    color: var(--dark3);
}

body{
    margin: 0;
    background-color: var(--light3);
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}