:root {
    --pr-clr: #2655e0;

    --dark3: #333;
    --dark1: #1d1d1d;
    
    --light1: #b7b7b7;
    --light3: #eee;

    --box-shadow: 5px 5px 10px #333,
    inset 5px 5px 10px #3335;

    --gaps: 10px;
    --border-radius:10px;


    --l: 1200px;
    --m: 780px;
}

@font-face {
    font-family: pacifico;
    src: url(../fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppins-bold;
    src: url(../fonts/Poppins-Bold.ttf);
}

