.main-layout>*:not(.full) {
    max-width: var(--m);
    margin-left: auto;
    margin-right: auto;

}

.meme-editor {
    border-radius: 13px;
}

.canvas-container {
    border-radius: 13px 13px 0 0;
}

.upload label{
    width: 95%;
}

.memes{
    width: calc(var(--m) - 20px);
}

.logo{
    margin-inline-start: 0;

}

.line-controls{
    display: flex;
}
.line-controls>*:nth-child(3){
    border-radius: 0;
}